In [1]:
import pandas as pd

In [2]:
mydata=pd.read_excel(r"C:\Users\Manish\Documents\Anaconda Datasets\GlassIdentification.xlsx")

In [3]:
mydata.head()

,ID,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Type,Target_Names
0,1,1.52101,13.64,4.49,1.10,71.78,0.06,8.75,0.0,0.0,1,NaN
1,2,1.51761,13.89,3.60,1.36,72.73,0.48,7.83,0.0,0.0,1,building_windows_float_processed
2,3,1.51618,13.53,3.55,1.54,72.99,0.39,7.78,0.0,0.0,1,building_windows_non_float_processed
3,4,1.51766,13.21,3.69,1.29,72.61,0.57,8.22,0.0,0.0,1,vehicle_windows_float_processed
4,5,1.51742,13.27,3.62,1.24,73.08,0.55,8.07,0.0,0.0,1,vehicle_windows_non_float_processed

In [4]:
mydata.shape

(214, 12)

In [6]:
X_Input=mydata.drop(["ID","Type","Target_Names"],axis=1)

In [7]:
Y_Output=mydata["Type"]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_Train,X_Test,Y_Train,Y_Test=train_test_split(X_Input,Y_Output,test_size=0.30,random_state=101)

In [10]:
from sklearn.naive_bayes import GaussianNB,BernoulliNB,MultinomialNB

In [11]:
mygaussobj=GaussianNB()
myberobj=BernoulliNB()
mymulobj=MultinomialNB()

In [12]:
mygaussmodel=mygaussobj.fit(X_Train,Y_Train)
mybermodel=myberobj.fit(X_Train,Y_Train)
mymulmodel=mymulobj.fit(X_Train,Y_Train)

In [13]:
Ypgauss=mygaussmodel.predict(X_Test)
Ypber=mybermodel.predict(X_Test)
Ypmul=mymulmodel.predict(X_Test)

In [14]:
pd.DataFrame({"Ya":Y_Test,"Ypgauss":Ypgauss,"Ypber":Ypber,"Ypmul":Ypmul})

     Ya  Ypber  Ypgauss  Ypmul
74    2      2        3      2
172   5      2        5      5
65    1      2        3      2
184   6      7        5      7
151   3      2        6      2
91    2      2        3      2
201   7      2        5      5
213   7      7        7      7
66    1      2        3      2
150   3      2        3      2
117   2      2        3      2
160   3      2        3      2
37    1      2        3      2
154   3      2        3      2
133   2      2        3      2
159   3      2        3      2
173   5      2        2      7
96    2      2        3      2
54    1      2        1      2
34    1      2        3      2
41    1      2        1      2
31    1      2        3      2
50    1      2        3      2
210   7      7        7      7
69    1      2        3      2
48    1      2        3      2
33    1      2        1      2
165   5      2        2      2
129   2      2        2      2
174   5      2        2      2
..   ..    ...      ...    ...
78    2      2        3      2
2     1      2        3      2
12    1      2        3      2
161   3      2        2      2
182   6      7        6      7
22    1      2        3      2
55    1      2        2      2
39    1      2        3      1
32    1      2        2      2
42    1      2        3      2
149   3      2        1      2
119   2      2        3      2
169   5      2        2      7
177   6      2        6      2
16    1      2        3      2
108   2      2        2      7
179   6      2        6      2
155   3      2        3      2
135   2      2        3      2
93    2      2        3      2
51    1      2        3      2
18    1      2        3      2
114   2      2        3      2
187   7      2        3      2
4     1      2        3      2
15    1      2        3      2
1     1      2        3      2
43    1      2        3      2
127   2      2        2      2
156   3      2        3      2

[65 rows x 4 columns]

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
acc_ber=accuracy_score(Y_Test,Ypber)
acc_gauss=accuracy_score(Y_Test,Ypgauss)
acc_mul=accuracy_score(Y_Test,Ypmul)

In [17]:
print("Accuracy of Gaussian is {}\nAccuracy of Bernouli is {}\nAccuracy of Multinomial is {}".format(acc_gauss,acc_ber,acc_mul))

Accuracy of Gaussian is 0.3076923076923077
Accuracy of Bernouli is 0.27692307692307694
Accuracy of Multinomial is 0.2923076923076923

In [18]:
from sklearn.neighbors import KNeighborsClassifier

In [19]:
myknnobj=KNeighborsClassifier(n_neighbors=3)

In [20]:
myknnmodel=myknnobj.fit(X_Train,Y_Train)

In [21]:
Ypknn=myknnmodel.predict(X_Test)

In [22]:
acc_knn=accuracy_score(Y_Test,Ypknn)

In [23]:
acc_knn

0.66153846153846152

In [24]:
Ypknn

array([2, 5, 1, 7, 1, 1, 5, 7, 1, 2, 2, 1, 1, 2, 2, 1, 2, 2, 1, 1, 1, 1, 1,
       7, 1, 1, 1, 5, 2, 2, 1, 2, 2, 1, 1, 1, 2, 2, 3, 2, 1, 2, 1, 1, 1, 1,
       2, 5, 6, 1, 2, 6, 1, 2, 2, 1, 1, 2, 1, 1, 1, 2, 1, 6, 1], dtype=int64)

In [31]:
mydata.Target_Names[2]

'building_windows_non_float_processed'